%header.main-header
  %a.logo{ href: admin_dashboard_path }
    %span.logo-mini
      %b> D
      LS
    %span.logo-lg
      %b #{Settings.service.name}
      Dashboard
  %nav.navbar.navbar-static-top{:role => "navigation"}
    %a.sidebar-toggle{"data-toggle" => "push-menu", :href => "#", :role => "button"}
      %span.sr-only Toggle navigation
